/*---------------------------------*/
/*---------------------------------*/
/*-- This file will be common in --*/
/*-- all the pages.              --*/
/*---------------------------------*/
/*---------------------------------*/
/*--  It Contains code of body   --*/
/*--  Header and Footer with     --*/
/*--  Responsive                 --*/
/*---------------------------------*/
/*---------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

body {
  background: #ffffff;
  user-select: none;
  overflow-x: hidden;
}

nav {
  height: 6rem;
  width: 100vw;
  background: #e6fdef;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.activeHeader {
  position: fixed;
  background: #e6fdefdc;
}

/*Styling logo*/
.logo {
  padding: 0.5rem 1rem;
  text-align: center;
}

.logo img {
  height: auto;
  width: 8rem;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  padding: 0 1vw;
  align-items: center;
  text-transform: uppercase;
}

.nav-links li a {
  text-decoration: none;
  margin: 0 1vw;
  font-size: 1em;
  color: #177072;
}

.nav-links li {
  position: relative;
}

.nav-links li a:hover {
  color: #43a1bb;
}

.nav-links li a::after {
  content: "";
  height: 2px;
  width: 60%;
  margin: 0 0 0 20%;
  transform: scaleX(0);
  border-radius: 50px;
  background-color: #43a1bb;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.5s ease-in-out;
}

.nav-links li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #000000;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 3;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }

  .nav-links {
    position: fixed;
    background: #e6fdef;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
    padding: 3rem 0;
  }

  .nav-links li {
    padding: 2rem 0;
  }

  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }

  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }

  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }

  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }

  li.fade {
    opacity: 1;
  }
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*-------------------------------*/
/*------ Header Ends Here -------*/
/*-------------------------------*/

/*-------------------------------*/
/*----- Footer Starts Here ------*/
/*-------------------------------*/

.footer {
  height: auto;
  padding: 20px 10px 20px 10px;
  background-color: #e4f0e7;
}

.fcontainer-1 {
  display: flex;
  justify-content: left;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0 0 -20px 0;
}

.fchild-1 {
  width: 180px;
}

.fchild-1 img {
  width: 100%;
  height: auto;
}

.fcontainer-2 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.fchild-2 {
  width: 280px;
  margin: 20px 0 0 0;
}

.fchild-2 ul li {
  list-style: none;
}

.fchild-2 ul li a {
  text-decoration: none;
  color: #000000;
}

.fchild-2 ul li a:hover {
  text-decoration: underline #000000;
}

#services ul li {
  margin: 5px 0 0 0;
}

#social-media ul {
  display: flex;
  justify-content: left;
  margin: 20px 0 0 0;
}

#social-media ul li {
  padding: 3px;
}

#social-media ul li a {
  background-color: #000000;
  color: white;
  padding: 5px;
  border-radius: 50%;
  font-size: 20px;
}

#mail:hover {
  background-color: #1e90ff;
}

#fb:hover {
  background-color: #2a2add;
}

#tweet:hover {
  background-color: #44bce4;
}

#linkedin:hover {
  background-color: #2a2add;
}

#youtube:hover {
  background-color: #ff0000;
}

#contacts ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0 0 0;
}

#contacts ul li {
  margin: 0 0 10px 0;
}

#contacts ul li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 858px) {
  .fcontainer-2 {
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 500px) {
  .fchild-2 h2 {
    font-size: 16px;
  }
  #social-media ul {
    margin: 10px 0 0 -6px;
  }
  #social-media ul li a {
    font-size: 14px;
  }
}

/*-------------------------------*/
/*------ Footer Ends Here -------*/
/*-------------------------------*/

/*--------------------------------*/
/*---- Scroll Bar Starts Here ----*/
/*--------------------------------*/

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ff0000;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #e6fdef;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/*--------------------------------*/
/*----- Scroll Bar Ends Here -----*/
/*--------------------------------*/
