@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.contactus-section1 {
  height: auto;
  padding: 30px 20px 30px 20px;
}

#contact-board {
  width: 18%;
  height: auto;
  transform: rotate(-15deg);
  margin: 20px 0 0 0;
}

.contactus-container {
  margin: -120px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactus-child {
  width: 350px;
  height: 250px;
  text-align: center;
  background: #6fede6;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.contactus-child img {
  width: 30%;
  height: auto;
  margin: 0 0 20px 0;
}

.contactus-child h2 {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.contactus-child h2:hover,
.contactus-child1 h2:hover,
.contactus-child2 h2:hover {
  text-decoration: underline;
}

.contactus-container1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.contactus-child1 {
  width: 350px;
  height: 250px;
  text-align: center;
  background: #29d1c8;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.contactus-child1 img {
  width: 30%;
  height: auto;
  margin: 0 0 20px 0;
}

.contactus-child1 h2 {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  font-size: 18px;
}

.contactus-child2 {
  width: 350px;
  height: 250px;
  text-align: center;
  background: #8bf6f0;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.contactus-child2 img {
  width: 30%;
  height: auto;
  margin: 0 0 40px 0;
}

.contactus-child2 h2 {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.section-contact-form {
  height: auto;
  padding: 30px 20px 30px 20px;
  position: relative;
}
.section-contact-form::after {
  content: "";
  position: absolute;
  right: 0;
  left: -50%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 40px;
  background-size: 40px 100%;
  background-image: linear-gradient(135deg, #ffffff 25%, transparent 25%),
    linear-gradient(225deg, #ffffff 25%, transparent 25%);
  background-position: 0 0;
}

.contactus-container2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 0 0 0;
}

.contactus-child3 {
  width: 500px;
  height: 550px;
  justify-content: center;
  align-items: center;
  background: #29d1c8;
  padding: 10px 20px 10px 20px;
  border-radius: 40px;
  text-align: center;
}
.contactus-child3 ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contactus-child3 ul li {
  padding: 30px 20px 30px 20px;
}
.contactus-child3 img {
  width: 80%;
  height: auto;
  margin: 20px 0 0 0;
}
#contactus-fb,
#contactus-linkedin,
#contactus-youtube,
#contactus-tweet {
  font-size: 45px;
  background: #ffffff;
  color: #ffa500;
  border-radius: 50%;
  padding: 15px;
}
#contactus-fb:hover {
  background: #4267b2;
  color: white;
}
#contactus-linkedin:hover {
  background: #2a2add;
  color: white;
}
#contactus-youtube:hover {
  background-color: #ff0000;
  color: white;
}

#contactus-tweet:hover {
  background-color: #44bce4;
  color: white;
}

.contactus-child4 {
  width: 500px;
  height: 550px;
  background: #29d1c8;
  padding: 10px 20px 10px 20px;
  border-radius: 40px;
  text-align: center;
}
.contactus-child4 h2 {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 40px;
  font-weight: 900;
}
.contactus-child4 h3 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.contactus-child4 form {
  display: flex;
  margin: 40px 0 40px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactus-child4 input {
  margin: 30px 0 40px 0;
  border: none;
  border-bottom: 5px solid #ffffff;
  background: none;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: 90%;
}

.contactus-child4 input:focus {
  outline: none;
}

.contactus-child4 input::placeholder {
  color: #ffffff;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.contactus-child4 button {
  width:55%;
  height: 55px;
  padding: 10px 5px;
  border-radius: 40px;
  font-size: 22px;
  background:#ffa500;
  color:#ffffff;
  margin: 10px 0 0 0;
  border:none;
}
.contactus-child4 button:hover {
  cursor: pointer;
background:#f00d0d;
  transition: 0.7s ease-in-out;
  box-shadow: none;
}

.animate__swing {
  --animate-duration: 4s;
}

#button {
  position: relative;
  overflow: hidden;
}

.check-box {
  width: 80px;
  height: 80px;
  border-radius: 60px;
  box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: -10px;
  right: -40px;
  opacity: 0;
}

.check-box svg {
  width: 40px;
  margin: 20px;
}

svg path {
  stroke-width: 3;
  stroke: #fff;
  stroke-dasharray: 34;
  stroke-dashoffset: 34;
  stroke-linecap: round;
}

.active {
  background: #ff2b75;
  transition: 1s;
}

.active .check-box {
  right: 0;
  opacity: 1;
  transition: 1s;
}

.active p {
  margin-right: 125px;
  transition: 1s;
}

.active svg path {
  stroke-dashoffset: 0;
  transition: 1s;
  transition-delay: 1s;
}

@media screen and (max-width: 580px) {
  .contactus-section1 {
    padding: 20px;
  }
  #contact-board {
    margin: 100px 0 0 0;
    width: 50%;
    position: relative;
    left: 25%;
    transform: none;
    text-align: center;
  }
  .contactus-container {
    margin: 20px 0 0 0;
  }

  .contactus-child,
  .contactus-child1 {
    width: 300px;
    height: 200px;
    clip-path: none;
    padding: 20px 0 20px 0;
    border-radius: 20px;
    background: #6fede6;
  }
  .contactus-child img,
  .contactus-child2 img {
    width: 20%;
    margin: 0 0 20px 0;
  }
  .contactus-child h2 {
    font-size: 16px;
  }
  .contactus-container1 {
    margin: 20px 0 0 0;
  }

  .contactus-child1 img {
    width: 20%;
    margin: 0 0 20px 0;
  }
  .contactus-child1 h2 {
    padding: 10px;
    font-size: 16px;
  }

  .contactus-child1 br {
    display: none;
  }

  .contactus-child2 {
    width: 300px;
    height: 200px;
    clip-path: none;
    padding: 20px 0 20px 0;
    border-radius: 20px;
    background: #6fede6;
    margin: 20px 0 0 0;
  }

  .contactus-child2 h2 {
    font-size: 16px;
  }
  .section-contact-form {
    padding: 20px;
  }
  .contactus-container2 {
    margin: 0;
  }
  .contactus-child3 {
    width: 400px;
    height: 400px;
  }

  .contactus-child3 ul li {
    padding: 20px 10px 20px 10px;
  }
  #contactus-fb,
  #contactus-linkedin,
  #contactus-youtube,
  #contactus-tweet {
    font-size: 20px;
    padding: 10px;
  }
  .contactus-child4 {
    width: 400px;
    height: 450px;
    margin: 20px 0 0 0;
  }
  .contactus-child4 h2,
  .contactus-child4 h3 {
    font-size: 16px;
  }
  .contactus-child4 form {
    margin: 10px 0 10px 0;
  }
  .contactus-child4 input {
    width: 100%;
    font-size: 16px;
  }
  .contactus-child4 input::placeholder {
    font-size: 16px;
  }
  .contactus-child4 button {
    padding: 5px;
    font-size: 16px;
    width:60%;
  }
}
@media screen and (min-width: 581px) and (max-width: 840px) {
  .contactus-section1 {
    padding: 20px 0 0 0;
  }
  #contact-board {
    margin: 100px 0 0 0;
    width: 40%;
    position: relative;
    left: 30%;
  }
  .contactus-container {
    margin: 30px 0 0 0;
  }
  .contactus-container1 {
    margin: 10px 0 0 0;
  }
  .contactus-container2 {
    justify-content: space-around;
  }
  .contactus-child1,
  .contactus-child2 {
    margin: 20px 0 0 0;
  }
  .contactus-child3 {
    width: 90px;
    height: 300px;
    padding: 20px;
    border-radius: 20px;
    order: 2;
  }
  .contactus-child3 img {
    display: none;
  }
  .contactus-child3 ul li {
    padding: 20px;
  }
  #contactus-fb,
  #contactus-linkedin,
  #contactus-youtube,
  #contactus-tweet {
    font-size: 24px;
    padding: 10px;
  }
  .contactus-child4 {
    width: 450px;
    margin: 20px 0 0 0;
  }
  .contactus-child4 button {
    padding: 5px;
  }
}

@media screen and (min-width: 841px) and (max-width: 1092px) {
  .contactus-container1 {
    margin: 20px 0 0 0;
    justify-content: space-between;
  }
  .contactus-container2 {
    justify-content: space-between;
  }
  .contactus-child3 {
    width: 380px;
  }
  .contactus-child4 {
    width: 380px;
  }
  .contactus-child4 button{
    width:60%;
  }
}
