* {
  text-decoration: none;
}

.readMore-2 {
  margin: 0 0 0 30px;
  background: transparent;
  border: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-decoration: 2px underline;
}

.readMore-2:hover {
  cursor: pointer;
  text-decoration: 2px overline;
  color: #333333;
  transition: 0.8s ease-in;
  font-weight: bold;
}

/* events-section-d */
.events-d {
  height: auto;
  background: url("../images/bg-eventsPage.png") round;
  background-size: contain;
  padding: 40px 10px 40px 10px;
  display: none;
}

.events-d-container-1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.events-d-child-1 {
  width: 250px;
}

.events-d-child-1 img {
  width: 100%;
  height: auto;
}

.events-d-child-2 {
  width: 350px;
  height: 220px;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  background: #54c4c6;
  color: white;
  margin: 0 0 0 -20px;
}

.events-d-child-2 h2 {
  margin: 10px 0 15px 90px;
  font-family: "Open Sans", sans-serif;
}

#blue-bx-time-map {
  margin: 0 0 20px 90px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.readMore-1 {
  margin: 0 0 0 90px;
  background: transparent;
  border: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-decoration: 2px underline;
}

.readMore-1:hover {
  cursor: pointer;
  text-decoration: 2px overline;
  color: #333333;
  transition: 0.8s ease-in;
  font-weight: bold;
}

.events-d-container-2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 60px 0 0 0;
}

.events-d-child-3 {
  width: 350px;
  height: 220px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  background: #57cc99;
  color: white;
  margin: 0 -20px 0 0;
}

.events-d-child-3 h2 {
  margin: 10px 0 15px 30px;
  font-family: "Open Sans", sans-serif;
}

#darkg-bx-time-map {
  margin: 0 0 20px 30px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.readMore-2 {
  margin: 0 0 0 30px;
  background: transparent;
  border: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-decoration: 2px underline;
}

.readMore-2:hover {
  cursor: pointer;
  text-decoration: 2px overline;
  color: #333333;
  transition: 0.8s ease-in;
  font-weight: bold;
}

.events-d-child-4 {
  width: 250px;
}

.events-d-child-4 img {
  width: 100%;
  height: auto;
}

.events-d-child-5 {
  width: 350px;
  margin: 0 0 0 60px;
}

.events-d-child-5 img {
  width: 100%;
  height: auto;
}

.events-d-child-6 {
  width: 350px;
  height: 220px;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  background: #60ce79;
  color: white;
  margin: 0 0 0 -20px;
}

.events-d-child-6 h2 {
  margin: 10px 0 15px 90px;
  font-family: "Open Sans", sans-serif;
}

#lightg-bx-time-map {
  margin: 0 0 20px 90px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.events-d-container-3-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 10px 30px 10px;
}

.events-d-btns-1 {
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.events-d-btns-1:active {
  transform: translateX(-10px);
  box-shadow: 10px 10px 5px 5px #333333;
}

.events-d-btns-2 {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.events-d-btns-2:active {
  transform: translateX(10px);
}

.prevBtn,
.nextBtn {
  width: 200px;
  background: #57cc99;
  border: none;
  padding: 30px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.prevBtn:hover,
.nextBtn:hover {
  cursor: pointer;
  background: #54c4c6;
  font-weight: bold;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 140px 0 0 0;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-container {
  width: 62%;
  display: flex;
  justify-content: space-around;
  background: #7de6e0;
  border-radius: 30px;
  margin: 0 auto;
  padding: 20px 10px 20px 10px;
}

#exclam-top {
  width: 20%;
  position: relative;
  top: 30px;
  right: 10%;
}
#exclam-bottom {
  width: 20%;
  position: relative;
  top: -30px;
  left: 85%;
}
.modal-child {
  width: 380px;
  padding: 5px;
}

.modal-child h2 {
  font-size: 34px;
  margin: 0 0 10px 0;
  font-family: "Open Sans", sans-serif;
}

.modal-child p {
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.modal-child img {
  width: 100%;
  height: auto;
}

#closebtn,
#closebtn1,
#closebtn2 {
  position: relative;
  top: -10px;
  left: -5%;
  font-size: 34px;
  color: #333333;
}

#closebtn:hover,
#closebtn:focus,
#closebtn1:hover,
#closebtn1:focus,
#closebtn2:hover,
#closebtn2:focus {
  color: #ff6347;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s ease-in;
}
.cuttingdesign {
  position: relative;
}
.cuttingdesign::after {
  content: "";
  position: absolute;
  right: 0;
  left: -50%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 40px;
  background-size: 40px 100%;
  background-image: linear-gradient(135deg, #ffffff 25%, transparent 25%),
    linear-gradient(225deg, #ffffff 25%, transparent 25%);
  background-position: 0 0;
}

/* mobile view */
@media screen and (max-width: 550px) {
  .events-d {
    background: #f0fff3;
  }

  .events-d h1 {
    margin: 65px 0 0 0;
  }

  .events-d-container-1 {
    margin: 40px 0 0 0;
    flex-wrap: wrap-reverse;
    padding: 0 10px 0 10px;
  }

  .events-d-child-1 {
    width: 180px;
    margin: -30px 0 0 0;
  }

  .events-d-child-2 {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 75%,
      75% 75%,
      75% 100%,
      50% 75%,
      0% 75%
    );
    width: 300px;
    height: 210px;
    margin: 0;
  }

  .events-d-child-2 h2 {
    font-size: 18px;
    margin: 10px 0 15px 50px;
  }

  #blue-bx-time-map {
    font-size: 14px;
    margin: 0 0 10px 50px;
  }

  .readMore-1 {
    margin: 0 0 0 50px;
  }

  .events-d-container-2 {
    margin: 30px 0 0 0;
    padding: 0 10px 0 10px;
  }

  .events-d-child-3 {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 75%,
      75% 75%,
      75% 100%,
      50% 75%,
      0% 75%
    );
    width: 300px;
    height: 210px;
    margin: 0;
  }

  .events-d-child-3 h2 {
    font-size: 18px;
    margin: 10px 0 15px 50px;
  }

  #darkg-bx-time-map {
    font-size: 14px;
    margin: 0 0 10px 50px;
  }

  .readMore-2 {
    margin: 0 0 0 50px;
  }

  .events-d-child-3 br {
    display: none;
  }

  .events-d-child-4 {
    width: 180px;
    margin: -30px 0 0 0;
  }

  .events-d-child-5 {
    width: 250px;
    margin: 30px 0 0 0;
  }

  .events-d-child-6 {
    clip-path: polygon(
      0.1% 100%,
      100% 100%,
      99.6% 37%,
      82.7% 37.5%,
      38.4% 0%,
      43.3% 35%,
      0% 34%
    );
    width: 300px;
    height: 230px;
    margin: -30px 0 0 0;
  }

  .events-d-child-6 h2 {
    font-size: 18px;
    margin: 95px 0 10px 50px;
  }

  #lightg-bx-time-map {
    font-size: 14px;
    margin: 0 0 10px 50px;
  }

  .events-d-child-6 br {
    display: none;
  }

  .events-d-container-3-btns {
    justify-content: center;
    padding: 0;
  }

  .events-d-btns-1 {
    margin: 0 20px 0 0;
  }

  .events-d-btns-2 {
    margin: 0 0 0 20px;
  }

  .prevBtn,
  .nextBtn {
    width: 90px;
    font-size: 14px;
  }

  .modal-container {
    width: 90%;
    margin: 20px auto;
  }
  .modal-child h2 {
    margin: -20px 0 10px 0;
    font-size: 18px;
    text-align: center;
  }

  .modal-child p {
    font-size: 14px;
    text-align: center;
    margin: 0 0 20px 0;
  }

  #closebtn,
  #closebtn1,
  #closebtn2 {
    left: 2%;
  }
  #exclam-top {
    width: 15%;
    right: 4%;
    top: 25px;
  }
  #exclam-bottom {
    width: 15%;
    top: -25px;
  }
}

/* tablets */
@media screen and (min-width: 551px) and (max-width: 1009px) {
  .events-d {
    background: #f0fff3;
  }

  .events-d h1 {
    margin: 65px 0 0 0;
  }

  .events-d-container-1 {
    margin: 30px 0 0 0;
    padding: 0 10px 0 10px;
  }

  .events-d-child-5 {
    margin: 60px 0 0 0;
  }

  .events-d-child-6 {
    margin: 60px 0 0 -20px;
  }
  .modal-container {
    width: 65%;
  }
  .modal-child h2 {
    margin: -20px 0 10px 0;
  }
  .modal-child p {
    margin: 0 0 20px 0;
  }
  #closebtn,
  #closebtn1,
  #closebtn2 {
    left: 3%;
  }
}

@media screen and (min-width: 1010px) and (max-width: 1340px) {
  .events-d {
    background: #f0fff3;
  }

  .events-d-container-2 {
    align-items: center;
  }

  .events-d-child-2 {
    transform: rotate(-10deg);
  }
  .events-d-child-3 {
    transform: rotate(-10deg);
    margin: 0 -30px 0 0;
  }

  .events-d-child-6 {
    margin: -80px 0 0 600px;
    transform: rotate(-680deg);
  }
  #closebtn,
  #closebtn1,
  #closebtn2 {
    left: 2%;
    top: -10px;
  }
}
@media screen and (max-width: 877px) {
  .modal-container {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 678px) and (max-width: 876px) {
  #closebtn,
  #closebtn1,
  #closebtn2 {
    left: -10%;
  }
}
