*{
    text-decoration: none;
}
body{
    overflow-x: hidden;
    font-family:sans-serif;
}
/* events-section-d */
.events-d{
    height:auto;
    background:url("../images/bg-eventsPage.png") round;
    background-size: contain;
    padding:40px 10px 40px 10px;
}
.events-d-container-1{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
}
.events-d-child-1{
    width:250px;
}
.events-d-child-1 img{
    width:100%;
    height:auto;
}
.events-d-child-2{
    width:350px;
    height:220px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background:#54c4c6;
    color:white;
    margin:0 0 0 -20px;
}
.events-d-child-2 h2{
    margin:10px 0 15px 90px;
    font-family: 'Open Sans', sans-serif;
}

#blue-bx-time-map{
    margin:0 0 20px 90px;
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
}
.events-d-child-2 a{
    margin:0 0 0 90px;
    color:white;
    text-decoration: underline;
    font-family: "Montserrat", sans-serif;
}
.events-d-child-2 a:hover{
    color:black;
    text-decoration: overline;
    transition: 0.8s ease-in;
    font-weight: bold;
}
.events-d-container-2{
    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-wrap: wrap;
    margin:60px 0 0 0;
}
.events-d-child-3{
    width:350px;
    height:220px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    background:#57cc99;
    color:white;
    margin:0 -20px 0 0
}
.events-d-child-3 h2{
    margin:10px 0 15px 30px;
    font-family: 'Open Sans', sans-serif;
}

#darkg-bx-time-map{
    margin:0 0 20px 30px;
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
}
.events-d-child-3 a{
    margin:0 0 0 30px;
    color:white;
    text-decoration: underline;
    font-family: "Montserrat", sans-serif;
}
.events-d-child-3 a:hover{
    color:black;
    text-decoration: overline;
    transition: 0.8s ease-in;
    font-weight: bold;
}
.events-d-child-4{
    width:250px;
}
.events-d-child-4 img{
    width:100%;
    height:auto;
}
.events-d-child-5{
    width: 350px;
    margin:0 0 0 60px;
}
.events-d-child-5 img{
    width:100%;
    height:auto;
}
.events-d-child-6{
    width:350px;
    height:220px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background:#60ce79;
    color:white;
    margin:0 0 0 -20px;
}
    .events-d-child-6 h2{
        margin:10px 0 15px 90px;
        font-family: 'Open Sans', sans-serif;
    }
    
    #lightg-bx-time-map{
        margin:0 0 20px 90px;
        font-size:18px;
        font-family: 'Open Sans', sans-serif;
    }
    .events-d-child-6 a{
        margin:0 0 0 90px;
        color:white;
        text-decoration: underline;
        font-family: "Montserrat", sans-serif;
    }
    .events-d-child-6 a:hover{
        color:black;
        text-decoration: overline;
        transition: 0.8s ease-in;
        font-weight: bold;
    }
    .events-d-container-3-btns{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin:40px 10px 0 10px;
    }
    .events-d-btns-1{
        clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    }
    .events-d-btns-1:active{
        transform:translateX(-10px);
        box-shadow:10px 10px 5px 5px #333333;
    }

    .events-d-btns-2{
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    }
    .events-d-btns-2:active{
        transform: translateX(10px);
    }
    .prevBtn,
    .nextBtn{
        width:200px;
        background:#57cc99;
        border:none;
        padding:30px;
        color:#ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size:20px;
}
    .prevBtn:hover,
    .nextBtn:hover{
        cursor: pointer;
        background:#54c4c6;
        font-weight: bold;
    }

    /* mobile view */
    @media screen and (max-width:550px){
        .events-d{
            background:#f0fff3;
        }
        .events-d-container-1{
            margin:70px 0 0 0;
            flex-wrap:wrap-reverse;
            padding:0 10px 0 10px;
        }
        .events-d-child-1{
            width:180px;
            margin:-30px 0 0 0;
        }
        .events-d-child-2{
           clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
           width:300px;
           height:210px;
           margin:0;
        }
        .events-d-child-2 h2{
            font-size:18px;
            margin:10px 0 15px 50px;
        }
        #blue-bx-time-map{
            font-size:14px;
            margin:0 0 10px 50px;
        }
        .events-d-child-2 a{
            margin:0 0 0 50px;
        }
        .events-d-container-2{
            margin:30px 0 0 0;
            padding:0 10px 0 10px;
        }
        .events-d-child-3{
            clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
           width:300px;
           height:210px;
           margin:0;
        }
        .events-d-child-3 h2{
            font-size:18px;
            margin:10px 0 15px 50px;
        }
        #darkg-bx-time-map{
            font-size:14px;
            margin:0 0 10px 50px;
        }
        .events-d-child-3 a{
            margin:0 0 0 50px;
        }
        .events-d-child-3 br{
            display: none;
        }
        .events-d-child-4{
            width:180px;
            margin:-30px 0 0 0;
        }
        .events-d-child-5{
            width:250px;
            margin:30px 0 0 0;
        }
        .events-d-child-6{
            clip-path: polygon(0.1% 100%, 100% 100%, 99.6% 37%, 82.7% 37.5%, 38.4% 0%, 43.3% 35%, 0% 34%);
            width:300px;
           height:210px;
           margin:-30px 0 0 0;
        }
        .events-d-child-6 h2{
            font-size:18px;
            margin:80px 0 10px 50px;
        }
        #lightg-bx-time-map{
            font-size:14px;
            margin:0 0 10px 50px;
        }
        .events-d-child-6 a{
            margin:0 0 0 50px;
        }
        .events-d-child-6 br{
            display: none;
        }
        .events-d-container-3-btns{
            justify-content: center;
            padding:0;
        }
        .events-d-btns-1{
            margin:0 20px 0 0;
        }
        .events-d-btns-2{
            margin:0 0 0 20px;
        }
        .prevBtn,
        .nextBtn{
            width:90px;
            font-size:14px;
        }
    }

    /* tablets */
    @media screen and (min-width:551px) and
    (max-width:866px){
        .events-d{
            background:#f0fff3;
        }
        .events-d-container-1{
            margin:90px 0 0 0;
            padding:0 10px 0 10px;
        }
        .events-d-child-5{
            width:300px;
            margin:60px 0 0 0;
        }
        .events-d-child-6{
            width:300px;
            height:170px;
            margin:60px 0 0 -20px;
        }
    }