* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

body {
  background: #dbdbdbe5;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3vw;
  cursor: pointer;
}

.logo img {
  width: 120px;
}

#toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  display: none;
  justify-content: center;
  align-items: center;
}

#toggle::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: #000;
  transform: translateY(-5px);
  transition: 0.2s;
}

#toggle::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: #000;
  transform: translateY(5px);
  transition: 0.2s;
}

#toggle.active::before {
  transform: translateY(0) rotate(45deg);
}

#toggle.active::after {
  transform: translateY(0) rotate(-45deg);
}

#navbar {
  position: relative;
  transition: 0.5s;
  overflow: hidden;
  display: flex;
}

#navbar ul {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#navbar ul li {
  list-style: none;
}

#navbar ul li a {
  color: #177072;
  /* height: 60px; */
  line-height: 60px;
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
  padding: 0 15px;
  position: relative;
  transition: ease-in-out;
}

#navbar ul li a:after {
  content: "";
  position: absolute;
  width: 60%;
  margin: 0 0 0 20%;
  transform: scaleX(0);
  border-radius: 50px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #6af1b1;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#navbar ul li a:hover {
  color: #22577a;
  font-weight: 800;
}

#navbar ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*-- Slider Start --*/

#slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 32rem;
}

.slide {
  width: 100%;
  display: none;
  animation-name: fade;
  animation-duration: 1s;
}

.slide img {
  width: 100%;
  height: 32rem;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

#dots-con {
  text-align: center;
}

.dot {
  display: inline-block;
  background: grey;
  padding: 5px;
  border-radius: 0;
  margin: 20px 5px;
  transition: 0.5s ease-in-out;
}

.dotActive {
  background: #6af1b1;
  transform: scale(2);
}

@media (max-width: 576px) {
  #slider {
    width: 100%;
  }

  .controls {
    font-size: 1em;
  }

  #dots-con {
    display: none;
  }
}
/*-- Slider Ends --*/

/*-- 4 Cards Starts --*/
.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  padding: 1.8rem 0 4rem 0;
  background: rgb(209, 209, 209);
  background: radial-gradient(
    circle,
    rgba(209, 209, 209, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #40d3dc;
  height: 55vh;
  width: 22vw;
  padding: 16px;
  color: #fff;
  text-align: center;
  border-radius: 12px;
}

.card:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.5s;
}

.card-image {
  width: 20vw;
  height: 20vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  transform: scale(2.5);
}

.card-content {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content h4 {
  font-weight: 400;
}

.card-content a {
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  transition: 0.5s all ease-in-out;
}

.card-content a:hover {
  letter-spacing: 0.7px;
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
}

.card:nth-child(1) {
  background-color: #22577a;
}

.card:nth-child(2) {
  background-color: #38a3a5;
}

.card:nth-child(3) {
  background-color: #57cc99;
}

.card:nth-child(4) {
  background-color: #61c277;
}
/*-- 4 Cards Ends --*/

/*-- About Section Starts --*/
/* ----------- about ------------  */
.about-page {
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 5vh 0;
  background-color: #e6fdef;
}

.about:nth-child(2) {
  background-color: #dbdbdbe5;
}

.about-img {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-img img {
  width: 60%;
}

.about-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content h1 {
  font-size: 3em;
  padding: 0.7rem 0 3rem 0;
}

.about-content p {
  font-size: 1.2em;
  letter-spacing: 2px;
  text-align: left;
}

.about-content hr {
  width: 120px;
  height: 2px;
  background-color: #40d3dc;
  border-radius: 10px;
  border: 1px solid #40d3dc;
  margin: 2rem 0;
}
/*-- About Section Ends --*/

/*-- testimonial-section starts --*/
.testimonial {
  height: auto;
}

.container {
  width: 100%;
  /* background: #f0fff3; */
  padding: 20px;
}

.container h1 {
  font-size: 2.5rem;
  text-align: center;
  padding: 2rem;
}

.shadow-effect {
  width: 100%;
  background: #e7fcf3;
  padding: 1.5rem;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #000000d8;
  border-radius: 20px;
  /* box-shadow: 0 19px 38px #0000001a, 0 15px 12px #00000005; */
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.8);
}

#customers-testimonials .shadow-effect p {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 300;
  font-style: italic;
  padding: 2rem 0 1rem 0;
}

.testimonial-name {
  margin: -17px auto 0;
  display: table;
  width: auto;
  background: #6af1b1;
  padding: 9px 35px;
  border-radius: 12px;
  text-align: center;
  color: #000000;
  box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
  border: 0.5px solid #000000;
}

.testimonial-name:hover {
  background: #3fcb9c;
  cursor: pointer;
}

#customers-testimonials .item {
  text-align: center;
  padding: 50px;
  opacity: 0.2;
  transform: scale3d(0.8, 0.8, 1);
  transition: all 0.3s ease-in-out;
}

#customers-testimonials .owl-item.active.center .item {
  opacity: 0.8;
  transform: scale3d(1, 1, 1);
}

#customers-testimonials .owl-item.active.center .item {
  opacity: 0.8;
  transform: scale3d(1, 1, 1);
}

.owl-carousel .owl-item img {
  transform-style: preserve-3d;
  max-width: 170px;
  margin: 0 auto 17px;
  border-radius: 50%;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  background: #6af1b1;
  transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#customers-testimonials.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  background: #6af1b1;
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
}
/*-- testimonial-section ends --*/

/*-- our impact section starts --*/
.our-impact-section {
  height: auto;
  background: #e6fdef;
  /* padding: 35px 20px 35px 20px; */
  padding: 5rem;
}

.ourimpact-heading-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.ourimpact-heading-child h1 {
  font-size: 3rem;
  padding: 0 0 3rem 0;
}

.ourimpact-boxes-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.ourimpact-boxes-child {
  width: 450px;
}

.ourimpact-boxes-child iframe {
  width: 100%;
  height: 240px;
}

.ourimpact-boxes-child-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.ourimpact-boxes-child-container-1 {
  display: flex;
  margin: 15px 0 0 0;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.ourimpact-boxes-child-container-green,
.ourimpact-boxes-child-container-1-green {
  width: 200px;
  padding: 25px 20px 25px 20px;
  border-radius: 18px;
  border: 1px solid #000000;
  background: #a1e6c8;
  box-shadow: 3px 3px 0px 1px #363434;
}

.ourimpact-boxes-child-container-green p,
.ourimpact-boxes-child-container-1-green p {
  text-transform: uppercase;
  color: darkgreen;
  font-weight: bold;
  font-size: 18px;
}

#volunteers,
#distributed,
#winter-kits,
#donors {
  font-weight: 400;
  padding: 5px 0 0 0;
}
/*-- our impact section ends --*/

/*-- events-gallery-blog section starts --*/
.events-gallery-blog {
  height: auto;
  padding: 40px 10px 40px 10px;
  /* background: #f0fff3; */
}

.container-egb {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 20px;
}

.child-egb {
  margin: 20px 0 0 0;
  width: 380px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child-egb img {
  width: 100%;
  height: auto;
}

.child-egb h2 {
  position: absolute;
  font-size: 3rem;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
}

.child-egb:hover {
  cursor: pointer;
  transform: translateY(-5%);
  transition: 0.2s ease-in;
  box-shadow: 2px 2px 5px 0px #000000;
  border: 1px solid #000000;
}
/*-- events-gallery-blog section ends --*/

/*-- footer starts --*/
.footer {
  height: auto;
  padding: 20px;
  background-color: #e4f0e7;
}

.fcontainer-1 {
  display: flex;
  justify-content: left;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0 0 -20px 0;
}

.fchild-1 {
  width: 180px;
}

.fchild-1 img {
  width: 100%;
  height: auto;
}

.fcontainer-2 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.fchild-2 {
  width: 280px;
  margin: 20px 0 0 0;
}

.fchild-2 ul li {
  list-style: none;
}

.fchild-2 ul li a {
  text-decoration: none;
  color: #000000;
}

.fchild-2 ul li a:hover {
  text-decoration: underline #000000;
}

#services ul li {
  margin: 5px 0 0 0;
}

#social-media ul {
  display: flex;
  justify-content: left;
  margin: 20px 0 0 0;
}

#social-media ul li {
  padding: 3px;
}

#social-media ul li a {
  background-color: #000000;
  color: white;
  padding: 5px;
  border-radius: 50%;
  font-size: 20px;
}

#mail:hover {
  background-color: #1e90ff;
}

#fb:hover {
  background-color: #2a2add;
}

#tweet:hover {
  background-color: #44bce4;
}

#linkedin:hover {
  background-color: #2a2add;
}

#youtube:hover {
  background-color: #ff0000;
}

#contacts ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0 0 0;
}

#contacts ul li {
  margin: 0 0 10px 0;
}

#contacts ul li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
/*-- footer ends --*/

/* /////////// making it responsive ///////////  */

@media (max-width: 1000px) {
  #toggle {
    display: flex;
  }

  .logo img {
    width: 80px;
  }

  .logo h1 {
    font-size: 10px;
  }

  #navbar {
    position: fixed;
    bottom: -100%;
    right: 0;
    width: 100%;
    transition: 0.5s;
    display: block;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  #navbar.active {
    height: calc(100vh - 60px);
    bottom: 0;
    width: 100%;
  }

  #navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 100vh;
    margin: 18% 0 0 0;
  }

  .navigation-manual {
    margin-top: -4vh;
  }

  .card-image {
    width: 70vw;
  }

  .card-content {
    margin-right: 0;
  }

  .cards {
    flex-direction: column;
    height: 180vh;
  }

  .card {
    height: 40vh;
    width: 80vw;
  }
}

@media (max-width: 500px) {
  .card-image img {
    transform: scale(1.8);
  }

  .card-content h1 {
    font-size: 1.3em;
  }

  .card-content h2 {
    font-size: 1em;
  }

  .card-content a {
    font-size: 1em;
  }

  .card-content {
    margin-right: 0;
  }

  .about {
    flex-direction: column;
    padding: 0 26px;
  }

  .about-img {
    width: 100%;
  }

  .about-content {
    width: 100%;
  }

  .about:nth-child(2) {
    flex-direction: column-reverse;
  }

  .about-content h1 {
    font-size: 1.7em;
  }

  .about-content p {
    font-size: 1em;
    letter-spacing: 0.5px;
    padding: 10px;
    text-align: center;
  }

  .about-img {
    display: flex;
    justify-content: center;
  }
}
