* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3vw;
}

.logo img {
  width: 100px;
}

.logo h1 {
  font-size: 14px;
  color: #177072;
  font-weight: 300;
}

#toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: #9051ff;
  display: none;
  justify-content: center;
  align-items: center;
}

#toggle::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transform: translateY(-5px);
  transition: 0.2s;
}

#toggle::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transform: translateY(5px);
  transition: 0.2s;
}

#toggle.active::before {
  transform: translateY(0) rotate(45deg);
}

#toggle.active::after {
  transform: translateY(0) rotate(-45deg);
}

#toggle.active {
  background: #f7226a;
}

#navbar {
  position: relative;
  background: #fff;
  transition: 0.5s;
  overflow: hidden;
  display: flex;
}

#navbar ul {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#navbar ul li {
  list-style: none;
}

#navbar ul li a {
  color: #177072;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  text-decoration: none;
  font-size: 1.4em;
  padding: 0 15px;
}

/* ----------- slides show ----------- */
.slider {
  width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
}

.slide {
  width: 100%;
  transition: 2s;
}

.slide img {
  width: 100vw;
}

.slides input {
  display: none;
}

.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: -10vh;
  display: flex;
  justify-content: center;
}

.navigation-manual label {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  z-index: 1;
}

.navigation-manual label:hover {
  background-color: #40d3dc;
}

.navigation-manual label:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -100%;
}

#radio3:checked~.first {
  margin-left: -200%;
}

#radio1:checked~.manual-btn1 {
  background: #40d3dc;
}

#radio2:checked~.manual-btn2 {
  background: #40d3dc;
}

#radio3:checked~.manual-btn3 {
  background: #40d3dc;
}

/* ---------------cards------------ */
.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("../images/background-wave.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #40d3dc;
  height: 55vh;
  width: 20vw;
  padding: 16px;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}

.card-image {
  width: 20vw;
  height: 20vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  transform: scale(2.2);
}

.card-content {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content h2 {
  font-weight: 400;
}

.card-content a {
  color: #fff;
  font-size: 1.2em;
}

.card:nth-child(1) {
  background-color: #22577a;
}

.card:nth-child(2) {
  background-color: #38a3a5;
}

.card:nth-child(3) {
  background-color: #57cc99;
}

.card:nth-child(4) {
  background-color: #807d99;
}

.about-page {
  margin-top: 10vh;
  width: 100%;
  overflow-x: hidden !important;
}

.about {
  display: flex;
  width: 100vw;
  height: 80vh;
  padding: 100px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.about:nth-child(1),
.about:nth-child(3) {
  background-image: url("../images/background-wave.png");
}

#ai01 {
  position: absolute;
  top: -250px;
  right: -550px;
}

#ai02 {
  position: absolute;
  top: -150px;
  left: -400px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 0% 40%);
}

#ai03 {
  position: absolute;
  width: 30%;
  top: -30px;
  right: -200px;
}

.about-img {
  width: 40vw;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 50vw;
}

.about-content h1 {
  font-size: 4em;
}

.about-content p {
  font-size: 1.2em;
  letter-spacing: 2px;
}

.about-content hr {
  height: 5px;
  width: 20vw;
  color: #177072;
  background-color: #177072;
}

.about:nth-child(1) .about-img img,
.about:nth-child(3) .about-img img {
  position: absolute;
  width: 70%;
  left: -22vw;
  top: 0;
}

.about:nth-child(2) .about-img img {
  position: absolute;
  right: -24vw;
  top: 0;
  width: 70%;
}

/* testimonial-section */
.testimonial {
  height: auto;
}

.container {
  width: 100%;
  background: #f0fff3;
  padding: 20px;
}

.container h1 {
  font-family: monospace;
  font-size: 2.5rem;
  text-align: center;
  font-style: italic;
}

.shadow-effect {
  width: 100%;
  background: #e7fcf3;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #c9c7c7;
  border-radius: 20px;
  box-shadow: 0 19px 38px #0000001a, 0 15px 12px #00000005;
}

#customers-testimonials .shadow-effect p {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 300;
  font-style: italic;
}

.testimonial-name {
  margin: -17px auto 0;
  display: table;
  width: auto;
  background: #6AF1B1;
  padding: 9px 35px;
  border-radius: 12px;
  text-align: center;
  color: #000000;
  box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
  border: 0.5px solid #000000;
}

.testimonial-name:hover {
  background: #3FCB9C;
  cursor: pointer;
}

#customers-testimonials .item {
  text-align: center;
  padding: 50px;
  margin-bottom: 60px;
  opacity: .2;
  transform: scale3d(0.8, 0.8, 1);
  transition: all 0.3s ease-in-out;
}

#customers-testimonials .owl-item.active.center .item {
  opacity: 0.8;
  transform: scale3d(1.0, 1.0, 1);
}

.owl-carousel .owl-item img {
  transform-style: preserve-3d;
  max-width: 90px;
  margin: 0 auto 17px;
  border-radius: 50%;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  background: #3190E7;
  transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#customers-testimonials.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  background: #3190E7;
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
}

/* our impact section */
.our-impact-section {
  height: auto;
  background: #fff;
  padding: 35px 20px 35px 20px;
}

.ourimpact-heading-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.ourimpact-heading-child {
  width: 300px;
  margin: 0 0 0 50px;
}

.ourimpact-heading-child h1 {
  font-family: monospace;
  font-size: 3rem;
  font-style: italic;
}

.ourimpact-boxes-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.ourimpact-boxes-child {
  width: 450px;
}

.ourimpact-boxes-child iframe {
  width: 100%;
  height: 240px;
}

.ourimpact-boxes-child-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.ourimpact-boxes-child-container-1 {
  display: flex;
  margin: 15px 0 0 0;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.ourimpact-boxes-child-container-green,
.ourimpact-boxes-child-container-1-green {
  width: 200px;
  padding: 25px 20px 25px 20px;
  border-radius: 18px;
  border: 1px solid #000000;
  background: #a1e6c8;
  box-shadow: 3px 3px 0px 1px #363434;
}

.ourimpact-boxes-child-container-green p,
.ourimpact-boxes-child-container-1-green p {
  text-transform: uppercase;
  color: darkgreen;
  font-weight: bold;
  font-size: 18px;
}

#volunteers,
#distributed,
#winter-kits,
#donors {
  font-weight: 400;
  padding: 5px 0 0 0;
}

/* events-gallery-blog section */
.events-gallery-blog {
  height: auto;
  padding: 40px 10px 40px 10px;
  background: #F0FFF3;
}

.container-egb {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 20px;
}

.child-egb {
  margin: 20px 0 0 0;
  width: 380px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child-egb img {
  width: 100%;
  height: auto;
}

.child-egb h2 {
  position: absolute;
  font-size: 3rem;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
}

.child-egb:hover{
  cursor: pointer;
  transform: translateY(-5%);
  transition: 0.2s ease-in;
  box-shadow: 2px 2px 5px 0px #000000;
  border: 1px solid #000000;
}

/* ----------footer-------- */
.footer {
  height: auto;
  padding: 20px;
  background-color: #e4f0e7;
}

.fcontainer-1 {
  display: flex;
  justify-content: left;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0 0 -20px 0;
}

.fchild-1 {
  width: 180px;
}

.fchild-1 img {
  width: 100%;
  height: auto;
}

.fcontainer-2 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.fchild-2 {
  width: 280px;
  margin: 20px 0 0 0;
}

.fchild-2 ul li {
  list-style: none;
}

.fchild-2 ul li a {
  text-decoration: none;
  color: #000000;
}

.fchild-2 ul li a:hover {
  text-decoration: underline #000000;
}

#services ul li {
  margin: 5px 0 0 0;
}

#social-media ul {
  display: flex;
  justify-content: left;
  margin: 20px 0 0 0;
}

#social-media ul li {
  padding: 3px;
}

#social-media ul li a {
  background-color: #000000;
  color: white;
  padding: 5px;
  border-radius: 50%;
  font-size: 20px;
}

#mail:hover {
  background-color: #1e90ff;
}

#fb:hover {
  background-color: #2a2add;
}

#tweet:hover {
  background-color: #44bce4;
}

#linkedin:hover {
  background-color: #2a2add;
}

#youtube:hover {
  background-color: #ff0000;
}

#contacts ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0 0 0;
}

#contacts ul li {
  margin: 0 0 10px 0;
}

#contacts ul li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* /////////// making it responsive ///////////  */

@media (max-width: 1000px) {
  #toggle {
    display: flex;
  }

  .logo img {
    width: 80px;
  }

  .logo h1 {
    font-size: 10px;
  }

  #navbar {
    position: fixed;
    bottom: -100%;
    right: 0;
    width: 100%;
    transition: 0.5s;
    display: block;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  #navbar.active {
    height: calc(100vh - 60px);
    bottom: 0;
    width: 100%;
  }

  #navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navigation-manual {
    margin-top: -4vh;
  }

  .cards {
    flex-direction: column;
    height: 100vh;
  }

  .card {
    flex-direction: row;
    width: 80vw;
    height: 20vh;
  }

  .card-image {
    width: 40vw;
    height: 20vh;
  }

  .card-content {
    height: 18vh;
    margin-right: 10vw;
  }

  .card-content h1 {
    font-size: 1.2em;
  }

  .card-content h2 {
    font-size: 0.9em;
  }

  .card-content a {
    font-size: 0.9em;
  }

  .about-content {
    width: 100vw;
    padding: 0;
    margin: 0;
  }

  .about-content h1 {
    font-size: 1.5em;
  }

  .about-content p {
    font-size: 1em;
  }

  .about:nth-child(1) .about-img img {
    display: none;
  }

  .about:nth-child(2),
  .about:nth-child(3) {
    display: none;
  }
}

@media (max-width: 500px) {
  .card-image img {
    transform: scale(5);
  }

  .card-content {
    margin-right: 0;
  }

  .about:nth-child(1) {
    width: 100vw;
  }

  .about-content {
    width: 100vw;
  }

  .about-content p {
    letter-spacing: 0;
  }
}